@using Microsoft.AspNet.Identity
@using MVCFilmSatis.Controllers 
@using MVCFilmSatis.Resources
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="/Cart/Index/@User.Identity.GetUserId()">@Lang.ShoppingCard</a>
			</li>
			<li>
				@Html.ActionLink(Lang.Hello + " " + User.Identity.GetNameSurname() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">@Lang.Logout</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink(Lang.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink(Lang.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
